In [19]:
import sqlite3
import pandas as pd
import os

db_path = "alumnos.db"

def crear_tabla(conn):
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS alumnos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre TEXT,
        edad INTEGER,
        carrera TEXT,
        UNIQUE(nombre, edad, carrera)
    );
    """)
    conn.commit()

def ag(conn, datos):
    cur = conn.cursor()
    cur.executemany(
        "INSERT OR IGNORE INTO alumnos (nombre, edad, carrera) VALUES (?, ?, ?);",
        datos
    )
    conn.commit()

def mal(conn):
    df = pd.read_sql_query("SELECT * FROM alumnos;", conn)
    print(df)

if __name__ == "__main__":

    conn = sqlite3.connect(db_path)
    crear_tabla(conn)
    datos = [
        ("Yuren Benitez", 17, "CDIA"),
        ("Joseph Lemus", 17, "CDIA"),
        ("Gael Alegria", 17, "CDIA"),
    ]

    ag(conn, datos)
    mal(conn)

    conn.close()

   id         nombre  edad carrera
0   2   Joseph Lemus    17    CDIA
1   3   Gael Alegria    17    CDIA
2  16  Yuren Benitez    17    CDIA

In [18]:
def mal(conn):
    df = pd.read_sql_query("SELECT * FROM alumnos;", conn)
    print(df)

if __name__ == "__main__":

    conn = sqlite3.connect(db_path)
    crear_tabla(conn)

    mal(conn)

    conn.close()

   id        nombre  edad carrera
0   2  Joseph Lemus    17    CDIA
1   3  Gael Alegria    17    CDIA