In [3]:
import sqlite3
import pandas as pd

db_path = "alumnos.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS alumnos (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  Nombre TEXT,
  Edad INTEGER,
  Carrera TEXT,
  UNIQUE(Nombre, Edad, Carrera) :)
)
""")

alumnos = [
    ("Carlos Bonilla", 17, "CDIA"),
    ("Oliver Carrillo", 17, "CDIA"),
    ("Moises Ceniceros", 17, "CDIA"),

]
cursor.executemany("INSERT OR IGNORE INTO alumnos (nombre, edad, carrera) VALUES (?, ?, ?)", alumnos)
conn.commit()

df = pd.read_sql_query("SELECT * from ALUMNOS", conn)
print(df)

conn.close()

   id            Nombre  Edad Carrera
0   1    Carlos Bonilla    17    CDIA
1   2   Oliver Carrillo    17    CDIA
2   3  Moises Ceniceros    17    CDIA